#gnu-stats1,
#gnu-stats2,
#gnu-stats3,
#gnu-stats4
{
    height: 250px;
    /*width: calc(50% - 40px);*/
    width: 250px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid #ccc
}

#gnu-stats2,
#gnu-stats4
{
    margin-top: 10%;
}

#gnu-stats1 img,
#gnu-stats2 img,
#gnu-stats3 img,
#gnu-stats4 img
{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content-absolute
{
    width: 150px;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    border-radius: 50%;
    border-bottom: 7px solid rgba(0,0,0,.3);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: up-and-down 3s ease-in-out infinite !important;
}

#gnu-stats1 .content-absolute,
#gnu-stats3 .content-absolute
{
    position: absolute;
    top: 0;
    left: 0;
}

#gnu-stats2 .content-absolute,
#gnu-stats4 .content-absolute
{
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes up-and-down {
    0%{
        transform: translate(10%, 10%);
        background-color: rgba(0, 48, 135, 1);
    }
    50%{
        transform: translate(0, 0);
        background-color: rgba(0, 48, 135, 0.6);
    }
    100%{
        transform: translate(10%, 10%);
        background-color: rgba(0, 48, 135, 1);
    }
}


/* TESTIMONIALS*/

#testimonials
{
    width: 100%;
    height: 100%;
    position:relative;
    min-height: 70vh;
}

.testimonial
{
    max-width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonial p
{
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.testimonial img
{
    max-width: 130px;
    border-radius: 50%;
    margin: 40px 0;
}

.testimonial h5
{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.testimonial h6
{
    font-size: 16px;
    font-weight: normal;
    color:var(--secundary-color);
}

#testimonial-prev,
#testimonial-next
{
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: var(--secundary-color);
    z-index: 2;
    cursor: pointer;
}

#testimonial-prev
{
    left: 5%;
}

#testimonial-next
{
    right: 5%;
}

.accordion
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.single-accordion
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.single-accordion h3
{
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    width: 90%;
}

.single-accordion span
{
    width: 10%;
    color: #7A7A7A;
    text-align: right;
    cursor: pointer;
}

.single-accordion article
{
    width: 100%;
    display: none;
}

.single-accordion article p
{
    color: #555;
    padding: 20px 0;
}

#accordion-image
{
    height: 100%;
    min-height: 130vh;
    background-image: url("../images/gnu-mockup.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* SVG */

.service-ilustration1
{
    max-width: 50vw;
}

/* ICONS */
.title-icon
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
}

.service-card
{
    margin: 30vh 2% 0 2%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200,200,200, .2);
}

.service-card:hover > .service-icon
{

    border-color: var(--secundary-color);
    transform: scale(1.2)translate(-40%, 0);
    animation: rodando 1.5s linear 1; /* Mah oeeee */
}

@keyframes rodando {

    0%
    {
        border:none;
    }
    25%
    {
        border-top: 10px solid var(--secundary-color);
    }
    50%
    {

        border-right: 10px solid var(--secundary-color);
    }
    75%
    {

        border-left: 10px solid var(--secundary-color);

    }
    100%
    {
        border-bottom: 10px solid var(--secundary-color);
    }

}

.service-card:hover > .service-content p
{
    border-color: rgba(252, 76, 2, .6);
    border-radius: 100%;
    border-right: 10px solid rgba(0, 48, 135, .6);
}

.service-icon
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37vh;
    width: 37vh;
    padding: 7%;
    border-radius: 50%;
    border: 10px solid var(--primary-color);
    position: absolute;
    top: -25vh;
    left: 50%;
    transform: translate(-50%, 0);
    transiton: 0.5s;
}

.service-icon i
{
    color: #7A7A7A;
    font-size: 75px;
}

.service-icon p
{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #7A7A7A;
    transition: 0.5s;
}

.service-content
{
    padding: 15vh 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7em;
    color: #555555;

}

.service-content p
{
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
}


@media screen and (max-width: 768px)
{
    .content-absolute{
        padding: 30px;
        min-width: 200px;
    }

    #gnu-stats2,
    #gnu-stats4
    {
        margin-top: 0;
    }

    #testimonial-section
    {
        min-height: 110vh;
    }

    #accordion-image
    {
        min-height: 65vh;
    }

    .service-ilustration1
    {
        max-width: 80vw;
    }

    .service-ilustration2
    {
        max-width: 10vw;
    }

    #service-img
    {
        padding: 0 10px;
    }

    #service-banner h1
    {
        font-size: 50px;
    }

    #service-banner h3
    {
        font-size: 28px;
    }

    #service-banner p
    {
        font-size: 18px;
    }

    .service-card
    {
        margin: 15vh 2%;
    }

    #card-first
    {
        margin: 30vh 2% !important;
    }
}