.paginator
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: white;
}

.paginator a,
.paginator span{
    color: white;
    text-decoration: none;
    margin: 0 1%;
    padding: 3px;
    height: 2em;
    width:2em;
    background-color: var(--secundary-color);
    text-align: center;
    line-height: 1.6em;
    border-radius: 50%;
    border-bottom: 3px solid rgba(250,250,250,0.6);
}

.paginator span{
    background-color: #555;
}

.paginator a:hover
{
    animation: pageGrow infinite linear 1s ;
}

@keyframes pageGrow {
    to
    {
        transform: scale(1.3) rotate(360deg);
    }
}




